@using MVC_Project.Models.Entities.Classes;
@model List<Student>
@{
    ViewData["Title"] = "Index";
}

<div class="container col-lg-8">
    <h1 class="text-center">Students</h1>
    <table class="table border">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Class Name</th>
                <th scope="col">School Name</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
                <th scope="col">Add Student</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Student student in Model)
            {
                <tr>
                    <th>@student.Id</th>
                    <td>@student.FullName</td>
                    <td>@student.ClassName</td>
                    <td>@student.School.Name</td>
                    <td><a asp-controller="Student" asp-action="Update" asp-route-id="@student.Id" class="btn btn-primary">Update</a></td>
                    <td><a asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center"><a asp-asp-controller="Student" asp-action="Create" class="btn btn-success">Add New Student</a></div>
</div>

